@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,800;0,900;1,300;1,400;1,600&family=Playfair+Display:ital,wght@0,800;0,900;1,500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.1px;
  overflow-wrap: normal;
  /*background-color: #f5f5f5;*/
}



/*.navName-signUp {
  font-family: 'Montserrat', sans-serif;
  font-weight:500 !important ;
  font-size: .8rem;
}*/

.logoName {
  font-family: 'Playfair Display', serif!important;
  font-size: 1rem;
  margin-bottom: 3px;
}

.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important;
}

.nav-bg {
  background-color: #1e1e1e;
  color: white;
  font-size: .8rem;
}

.cartIcon {
  color: white;
  /*background-color: blue;*/
  padding-top: 5%;
  padding-right: 20px;
}

.footer {
  font-size: .8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1e1e1e !important;
  color: white;
  font-weight: 500;
  max-width: 100%;

}

.home-section {
  background-color: #1e1e1e;
  color: white;
  margin-top: -16px;
  height: 550px;
}

.home-section2 {
  /*background-color: #d69e2e;*/
  background-color: white;
  color: white;
  margin-top: 228px;
  height: 550px;
}

.home-section3 {
  /*background-color: #d69e2e;*/
  background-color: white;
  color: white;
  margin-top: -16px;
  height: 1000px;
}

.banner-title {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 7.4rem;
  margin-top: 0px
}

.banner-title-content {
  font-size: 1rem !important;
  color:  white;
  margin-top: 60px;
}

.category-title {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 3.5rem;
  color: #1e1e1e;
  margin-top: 100px;
}

.category-title2{
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 3.5rem;
  color: #1e1e1e;
  margin-top: -10px;
}

.category-title-content1 {
  font-size: 1rem !important;
  color:  gray;
  margin-top: 20px;
}

.category-title-content2 {
  font-size: 1rem !important;
  color:  gray;
}

.productHome-title {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 3.5rem;
  color: #1e1e1e;
  margin-top: 100px;
}

.productHome-title-content {
  font-size: 1rem !important;
  color:  gray;
  margin-top: 20px;
}


/*Burger Menu*/
.css-bokek7 {
  color: white!important;
}

.css-1239oul {
  color: white!important;
}

.css-1ahmivy {
  color: white;
  
}

.avatar{
  margin-top: 4px !important;
  margin-right: 5px !important;
  margin-left: 10px !important;
  margin-right: 0px !important;
}

.avatarMenuList {
  font-family: 'Montserrat', sans-serif;
  font-weight:500 !important ;
  font-size: .8rem;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 20%;
/*  background: black;
  opacity: 50%;*/
  height: 100%;

}

.userName {
  color: white;
  font-size: .7rem;
  width: 100px;
  /*background-color: blue;*/
  margin-top: .5%;
  padding-top: 5% ;

} 

.cartFooter {
  margin-bottom: 25% !important;
}